@page
@model CreateModel
@{
}
<div class="text-center">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <label for="name">نام گروه: </label>
                <input class="form-control" type="text" id="name" name="name" />
            </div>
            <div class="col-md-12">
                <button class="btn btn-outline-success">ایجاد</button>
            </div>
        </div>
    </form>

</div>
