@page
@model EditModel
@{
}


<div class="text-center">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="@Model.Command.Name">نام گروه: </label>
                <input class="form-control" type="text" asp-for="@Model.Command.Name" />
            </div>
            <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id"/>
            <div class="col-md-12">
                <button class="btn btn-outline-success">ویرایش</button>
            </div>
        </div>
    </form>

</div>
